// ======
// COLORS
// ======

$primary-100: #fee7ea;
$primary-300: #f9a6ae;
$primary-500: #c64754; // logo color
$primary-700: #830c17;
$primary-900: #290d10;

$secondary-100: #defefa;
$secondary-300: #7dbbb2;
$secondary-500: #2e8176;
$secondary-700: #08554a;
$secondary-900: #0e2723;

$tonic-100: #f0fdd0;
$tonic-300: #c3e472;
$tonic-500: #9dc145;
$tonic-700: #5f800c;
$tonic-900: #20270d;

$success-100: #d5fedc;
$success-300: #7de98e;
$success-500: #3cde55;
$success-700: #157b25;
$success-900: #0a3d12;

$warning-100: #fefeb4;
$warning-300: #ecec3f;
$warning-500: #c7c714;
$warning-700: #65650a;
$warning-900: #343405;

$danger-100: #ffd7d7;
$danger-300: #feb2b1;
$danger-500: #f53734;
$danger-700: #930907;
$danger-900: #360303;

//$neutral-000: #fefcfd;
$neutral-100: #f0eeed;
$neutral-300: #d4d2d3;
$neutral-500: #969495;
$neutral-700: #4b494a;
$neutral-900: #343233;
